.b-container__blackfull{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.b-container__whitefull{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}